<div class="home-container">
  <h1>Consultas del Registro Civil</h1>
  <div class="card-grid">
    <!--ConsultaDatosDef -->
    <div class="card" (click)="goTo('system/datosDef')">
      <h3>Consulta Datos Defunción</h3>
      <h4>ConsultaDatosDef</h4>
    </div>
    <!-- ConsultaDatosDef_CURP -->
    <div class="card" (click)="goTo('system/datosDefCurp')">
      <h3>Consulta Datos Defunción CURP</h3>
      <h4>ConsultaDatosDef_CURP</h4>
    </div>
    <!-- ConsultaDatosMat -->
    <div class="card" (click)="goTo('system/datosMat')">
      <h3>Consulta Datos Mat</h3>
      <h4>ConsultaDatosMat</h4>
    </div>
    <!-- ConsultaDatosMat_CURP -->
    <div class="card" (click)="goTo('system/datosMatCurp')">
      <h3>Consulta Datos Mat Curp</h3>
      <h4>ConsultaDatosMat_CURP</h4>
    </div>
    <!-- ConsultaDatosNac -->
    <div class="card" (click)="goTo('system/datosNac')">
      <h3>Consulta Datos Nacimiento </h3>
      <h4>ConsultaDatosNac</h4>
    </div>
    <!-- ConsultaDatosNac_Curp -->
    <div class="card" (click)="goTo('system/datosNacCurp')">
      <h3>Consulta Datos Nacimiento Curp</h3>
      <h4>ConsultaDatosNac_Curp</h4>
    </div>
    <!-- ConsultaDef_CURP -->
    <div class="card" (click)="goTo('system/defCurp')">
      <h3>Consulta Defuncion CURP</h3>
      <h4>ConsultaDef_CURP</h4>
    </div>
    <!-- ConsultaDef_DG -->
    <div class="card" (click)="goTo('system/defDg')">
      <h3>Consulta Defuncion DG</h3>
      <h4>ConsultaDef_DG</h4>
    </div>
    <!-- ConsultaMat_CURP -->
    <div class="card" (click)="goTo('system/matCurp')">
      <h3>Consulta Mat Curp</h3>
      <h4>ConsultaMat_CURP</h4>
    </div>
    <!-- ConsultaMat_DG -->
    <div class="card" (click)="goTo('system/matDg')">
      <h3>Consulta Mat DG</h3>
      <h4>ConsultaMat_DG</h4>
    </div>
  </div>
</div>